body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid black;
}
a {
  text-decoration: none;
  color: black;
}
header {
  display: flex;
  order: 0;
  justify-content: space-between;
  background: #2e8B57;
  align-items: center;
}
main > *, header, footer {
  margin: 4px;
  padding: 5px;
  border-radius: 7px;
}
main {
  display: flex;
  order: 1;
  flex-basis: 800px;
  
}
article {
  order: 1;
  background:  #D3D3D3;
  flex: 4 0 60%;
}
nav {
  order:0;
  background: #A9A9A9;
  flex: 1 1 20%;
}
aside {
  order: 2;
  flex: 1 1 20%;
  background: #21618C;
}
footer {
  order: 3;
  background: #2e8B57;
}
header,footer {
  flex-basis: 100px;
}
@media all and (max-width: 640px) {
  main {
    flex-direction: column;
    flex-grow: 1;
  }
  nav {
    order: 2;
  }
  header, footer {
    flex-basis: 50px;
  }
}